:root{
    color-scheme: dark;
}
img.icon {
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
button.returnHome{
    width: 200px;
    background-color: rgb(1, 53, 108);
    font-size: 25px;
}
button.apps{
    border-radius: 10px;
    color: #000;
    background-color: rgb(0, 145, 255);
    font-size: 30px;
    width: 10em;
    height: 5em;
}