:root{
    color-scheme: dark;
}
h1{
    font-size: 100px;
}
img.icon {
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
button.returnHome{
    width: 200px;
    background-color: rgb(1, 53, 108);
    font-size: 25px;
    
}
label.bug{
    width: 1000px;
    height: 1.2em;
    font-size: 50px;
}
textarea.bug{
    width: 1000px;
    font-size: 50px;
}
input.submit{
    font-size: 50px;
    border-radius: 10px;
    color: rgb(25, 26, 28);
    background-color: gray;
}